.appHeader {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    min-height: 60px;
    padding: 0 1.5rem;
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 1px 2px 2px #00000033;
}

.appMenu {
    border: none;
}

.main-layout {
    margin-top: 80px;
    padding: 1rem 1.5rem;
}

.cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
}

/* Tablets */
@media screen and (max-width: 1200px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 790px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
