.rightSide {
    margin-left: 250px;
    padding-bottom: 1rem;
}

h1 {
    margin: 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

/* Tablets */
@media screen and (max-width: 1200px) {
    .sidebar {
        height: 100%;
    }
    .rightSide {
        margin-left: 130px;
    }

    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 790px) {
    .rightSide {
        margin-left: 120px;
    }
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
