@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Overpass:wght@300;500;700;800&family=Roboto:wght@400;500;700&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

.ant-image-preview-wrap {
    background: rgba(0, 0, 0, 0.7);
}

.ant-menu {
    border: none !important;
}

/* .ant-image-preview-img {
    transform: translate3d(0px, -30px, 0px) scale3d(1.25, 1.25, 1) rotate(0deg) !important;
} */

@media screen and (max-width: 790px) {
    /* .ant-image-preview-img {
        transform: translate3d(0px, -30px, 0px) scale3d(1, 1, 1) rotate(0deg) !important;
    } */
}

@media screen and (max-width: 447px) {
    /* .ant-image-preview-img {
        transform: translate3d(0px, -25px, 0px) scale3d(1, 1, 1) rotate(0deg) !important;
    } */

    .ant-menu-submenu {
        inset: 217px auto auto 231px !important;
    }
}
