.sidebar {
    transition: all 0.5s ease-in;
    height: 100vh;
    position: fixed;
    width: 200px;
    margin-top: -2rem;
    background-color: #eee;
}

.menu a {
    text-decoration: none;
    font-size: 14px;
    color: #000;
    font-weight: 700;
}

.title-logo {
    padding-left: 1rem;
}
/* logo */

/* menu */
.menu {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.menuItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 2.5rem;
    padding: 0 1.5rem;
    position: relative;
    transition: all 300ms ease;
    border-radius: 0.7rem;
}

.menuItem:hover {
    cursor: pointer;
}

.active {
    margin-left: 1rem;
    background-color: red;
    color: #fff;
    padding: 0 1rem;
}

/* Tablets */
@media screen and (max-width: 1200px) {
    .sidebar {
        width: 100px;
    }

    .menuItem > span {
        display: none;
    }
}
